:root{
    font-size: 16px;
}

body{
    background-color: #eee;
}

h1{
    width: max-content;
    margin: 0px auto;
}

#show{
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 15px;
    column-gap: 15px;
}

.card{
    background-color: #fff;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
    border: 0px;
    border-radius: 10px;
    padding: 0px 0px 20px 20px;
}

#formContainer{
    display: none;
}

